<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      {{#link-to 'index' class="navbar-brand"}}Home{{/link-to}}

      {{#if session.isAuthenticated}}
        {{#if isLoginRoute}}
          <button {{action 'logout'}} class="btn btn-danger btn-sm navbar-btn pull-right">Logout</button>
          <button {{action 'back'}} class="btn btn-success btn-sm navbar-btn pull-right">Cancel</button>
        {{else}}
          <button {{action toLoginRoute}} class="btn btn-default btn-sm navbar-btn pull-right">
            {{session.data.authenticated.name}}
          </button>
        {{/if}}
      {{else}}
        <button {{action toLoginRoute}} class="btn btn-success btn-sm navbar-btn pull-right">Login</button>
      {{/if}}
    </div>
  </div>
</nav>
