<form {{action 'save' model on='submit'}}>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="form-horizontal">

      <div class="form-group">
        <label class="col-sm-3 control-label">Rights</label>
        <div class="col-sm-9">
          {{#power-select
            options=rights
            selected=model.rights
            onchange=(action (mut model.rights))
            disabled=model.hide
            searchEnabled=false
            as |rights|
          }}
            {{rights}}
          {{/power-select}}
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Group</label>
        <div class="col-sm-9">
          {{#power-select
            options=userGroups
            selected=model.userGroup
            onchange=(action (mut model.userGroup))
            disabled=model.hide
            searchEnabled=false
            as |userGroup|
          }}
            {{userGroup.name}}
          {{/power-select}}
        </div>
      </div>

      <div class="form-group">
        <label for="userName" class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
          {{input value=model.name maxlength=31 disabled=model.hide
            placeholder="some name" autocomplete="off" type="text"
            class="form-control" id="userName"}}
        </div>
      </div>
      <div class="form-group">
        <label for="userPass" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-9">
          {{input value=model.password maxlength=7 disabled=model.hide
            placeholder="some password" autocomplete="off" type="text"
            class="form-control" id="userPass" aria-describedby="hbPassword"}}
          <span id="hbPassword" class="help-block">Stations allow numbers and cyrillic characters only</span>
        </div>
      </div>

      <div class="form-group">
        <label for="cardCode" class="col-sm-3 control-label">Card code</label>
        <div class="col-sm-9">
          {{input value=model.cardcode maxlength=22 disabled=model.hide
            placeholder="<no card code>" autocomplete="off" type="text"
            class="form-control" id="cardCode"}}
        </div>
      </div>

    </div>
  </div>
</div>

{{#navbar-bottom}}
  <div class="btn-group">
    <button {{action 'cancel'}} type="button"
      class="btn btn-info">Cancel</button>
  </div>

  <div class="btn-group">
    {{#if model.hide}}
      <button {{action "restore"}} type="button"
        class="btn btn-success"
      >Restore</button>
    {{else if hasUnsavedChanges}}
      <button type="submit" class="btn btn-success">Save</button>
    {{else}}
      {{#link-to 'user-accounts.index' (query-params deleted=false)
        class="btn btn-info"}}All Users{{/link-to}}
    {{/if}}
  </div>
{{/navbar-bottom}}

</form>
