<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <form {{action 'save' model on='submit'}}>
        <div class="form-horizontal">
          <div class="form-group">
            <label for="userRights" class="col-sm-3 control-label">Rights</label>
            <div class="col-sm-9">
              <input value={{model.rights}} readonly disabled=model.hide
                type="text" class="form-control" id="userRights">
            </div>
          </div>
          <div class="form-group">
            <label for="userGroup" class="col-sm-3 control-label">Group</label>
            <div class="col-sm-9">
              <select disabled=model.hide id="userGroup" class="form-control">
                <option value={{model.userGroup.id}} selected>{{model.userGroup.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="userName" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
              {{input value=model.name maxlength=31 disabled=model.hide
                autocomplete="off" type="text" class="form-control" id="userName"}}
            </div>
          </div>
          <div class="form-group">
            <label for="userPass" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
              {{input value=model.password maxlength=7 disabled=model.hide
                autocomplete="off" type="text" class="form-control"
                id="userPass" aria-describedby="hbPassword"}}
              <span id="hbPassword" class="help-block">Stations allow numbers and cyrillic characters only</span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button {{action 'cancel'}} type="button" class="btn btn-info">Cancel</button>

              {{#if model.hide}}
                <button {{action "undelete" model}} type="button"
                  class="btn btn-success pull-right"
                >Restore</button>
              {{else if model.hasDirtyAttributes}}
                <button type="submit" class="btn btn-success pull-right">Save</button>
              {{else}}
                {{#link-to 'user-accounts.index' (query-params deleted=false)
                  class="btn btn-info pull-right"}}All Users{{/link-to}}
              {{/if}}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
