<div class="list-group">
  <div class="list-group-item row u-condensed">
    {{#link-to 'user-accounts.new'
      class="btn btn-info btn-xs"}}Add a user{{/link-to}}

    {{#if deleted}}
      {{#link-to 'user-accounts' (query-params deleted=false)
        class="btn btn-success btn-xs"}}Active users{{/link-to}}
    {{else}}
      {{#link-to 'user-accounts' (query-params deleted=true)
        class="btn btn-default btn-xs"}}Deleted users{{/link-to}}
    {{/if}}

    {{#if adminsOnly}}
      {{#link-to 'user-accounts' (query-params adminsOnly=false)
        class="btn btn-success btn-xs"}}All users{{/link-to}}
    {{else}}
      {{#link-to 'user-accounts' (query-params adminsOnly=true)
        class="btn btn-default btn-xs"}}Admins only{{/link-to}}
    {{/if}}
  </div>

  {{#each sortedUsers as |user|}}
    <div class="list-group-item row u-condensed">
      <div class="row">
        {{#link-to 'user-accounts.edit' user tagName="div" class="col-xs-11 u-no-lr-padding"}}
          <div class="col-xs-8"><strong>{{user.name}}</strong></div>
          <div class="col-xs-4 text-right"><small><em>{{user.password}}</em></small></div>
          <div class="col-xs-6">{{user.rights}}</div>
          <div class="col-xs-6 text-right">{{user.userGroup.name}}</div>
        {{/link-to}}
        <div class="col-xs-1 u-no-lr-padding">
          {{#if deleted}}
            <button {{action 'undelete' user}} class="btn btn-success btn-xs btn-vert">+</button>
          {{else}}
            <button {{action 'delete' user}} class="btn btn-danger btn-xs btn-vert">&times;</button>
          {{/if}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
