<div class="list-group">
  {{#each sortedUsers as |user|}}
    <div class="list-group-item row u-condensed">
      <div class="row">
        {{#link-to 'user-accounts.edit' user tagName="div" class="col-xs-11 u-no-lr-padding"}}
          <div class="col-xs-8"><strong>{{user.name}}</strong></div>
          <div class="col-xs-4 text-right"><small><em>{{user.password}}</em></small></div>
          <div class="col-xs-6">{{user.rights}}</div>
          <div class="col-xs-6 text-right">{{user.userGroup.name}}</div>
        {{/link-to}}
        {{delete-button-column model=user deleteAction='delete' restoreAction='restore'}}
      </div>
    </div>
  {{/each}}
</div>

{{#navbar-bottom}}
  {{#link-to 'user-accounts.new'
    class="btn btn-info"}}New{{/link-to}}

  {{#if deleted}}
    {{#link-to 'user-accounts' (query-params deleted=false)
      class="btn btn-success"}}Active{{/link-to}}
  {{else}}
    {{#link-to 'user-accounts' (query-params deleted=true)
      class="btn btn-default"}}Deleted{{/link-to}}
  {{/if}}

  {{#if group}}
    {{#link-to 'user-accounts' (query-params group=null)
      class="btn btn-success"}}All{{/link-to}}
  {{else if adminsOnly}}
    {{#link-to 'user-accounts' (query-params adminsOnly=false)
      class="btn btn-success"}}All{{/link-to}}
  {{else}}
    {{#link-to 'user-accounts' (query-params adminsOnly=true)
      class="btn btn-default"}}Admins only{{/link-to}}
  {{/if}}
{{/navbar-bottom}}
