<div class="list-group">
  {{#each sortedUnits as |group|}}
    <div class="list-group-item row u-condensed">
      <div class="row">
        {{#link-to 'user-groups.edit' group tagName="div" class="col-xs-11 u-no-lr-padding"}}
          <div class="col-xs-8"><strong>{{group.name}}</strong></div>
          <div class="col-xs-4 text-right">{{group.userCount}}</div>
          <div class="col-xs-12"><small><em>{{group.info}}</em></small></div>
        {{/link-to}}
        {{delete-button-column model=group deleteAction='delete' restoreAction='restore'}}
      </div>
    </div>
  {{/each}}
</div>

{{#nav-bar-bottom}}
  {{#link-to 'user-groups.new'
    class="btn btn-info"}}New{{/link-to}}

  {{#if deleted}}
    {{#link-to 'user-groups' (query-params deleted=false)
      class="btn btn-success"}}Active{{/link-to}}
  {{else}}
    {{#link-to 'user-groups' (query-params deleted=true)
      class="btn btn-default"}}Deleted{{/link-to}}
  {{/if}}
{{/nav-bar-bottom}}
